{% extends 'base.html' %}
{% load static %}
{% block body %}
    <!-- product section start -->
    <div class="product_section layout_padding">
       <div class="container">
          <div class="row">
             <div class="col-sm-12">
                <h1 class="product_taital">Our Products</h1>
                <p class="product_text">incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
             </div>
          </div>
          <div class="product_section_2 layout_padding">
             <div class="row">
               {% for product in products %}
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">{{product.name}}</h4>
                        <p class="lorem_text">{{product.description}} </p>
                        <img src={{product.image.url}} alt="{{product.altname}}" class="image_1">
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="active"><a target="_blank" href="http://{{product.link}}">Buy Now</a></li>
                              </ul>
                           </div>
                           <h3 class="price_text">{{product.price}}</h3>
                        </div>
                     </div>
                  </div>
               {% endfor %}
             </div>
             
          </div>
       </div>
    </div>
    <!-- product section end -->
    <!-- copyright section start -->
    
    <!-- copyright section end -->
    <!-- Javascript files-->
    {% comment %} <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- javascript --> 
    <script src="js/owl.carousel.js"></script> {% endcomment %}
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>  
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script>
       function openNav() {
         document.getElementById("mySidenav").style.width = "100%";
       }
       
       function closeNav() {
         document.getElementById("mySidenav").style.width = "0";
       }
    </script>
{% endblock body %}