{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Vinirak | Write for us
</title>
{% endblock title %}
{% block body %}
<div class="about_section layout_padding" style="padding-bottom: 0px;">
    <div class="container">
      <div class="about_section_main" style="text-align: justify;">
         <div class="row">
            <div class="col-md-12" style="display: flex;
            justify-content: center; margin-bottom: 50px;">
               <div><img src={% static "images/write.jpg" %} class="image_3"></div>
            </div>
            <div class="col-md-12">
               <div class="about_taital_main">
                  <h1 class="about_taital">Guidelines to "write for us".</h1>
                  Here are some questions that could help us get started:
                  <br><br>

                    1. What is the purpose of the content you are looking for? Is it meant to inform, educate, persuade, or entertain?<br>
                    2. What is the target audience for the content? Are you looking for content that is accessible to a general audience, or do you need content that is more specialised for a particular industry or group?<br>
                    3. What is the desired length of the content? Are you looking for short blog posts or longer-form articles?<br>
                    4. Are there any specific guidelines or requirements that you would like me to follow, such as formatting, tone, or style?
                    <br><br>
                    Please let me know your answers to these questions, and I'll be happy to provide more information on how I can assist you with your "write for us" request.<br><br>
                    <h2> Article topics we welcome</h2><br>
                    &emsp;   1. Latest Technologies<br>
                    &emsp;2. Affiliate Marketing<br>
                    &emsp;3. Influencer Marketing<br>
                    &emsp;4. Social Media Alerts<br>
                    &emsp;5. Digital Marketing<br>
                    &emsp;6. Google Updates
                    <br><br>
                    <h2> Writing Principals</h2><br>
                    &emsp;1. Write an article that you would want to read.<br>
                    &emsp;2. Your article must be informative, inspiring or uplifting.<br>
                    &emsp;3. The article must be unique and Original.<br>
                    &emsp;4. Article length would be 800-1500 words.<br>
                    &emsp;5. No Grammar Mistakes else article will not be accepted.<br>
                    <br>
                    <h2>Supporting Materials</h2>
                    
                    <br>
                    Enhance your article writing by adding any of the bellow to attract readers attention
                    <br><br>
                    1. Images<br>
                    2. Videos<br>
                    3. Infographics<br>
                    4. Quotes<br>
                    5. Links to relevant services or products
                    <br><br>
                    <h2>Payment Policies</h2>
                    <br>
                    
                    It's important to discuss payment policies before starting a project to ensure that both parties are on the same page. It's also a good idea to have a written contract that outlines the payment terms and expectations for the project. By establishing clear payment policies from the start, you can avoid misunderstandings and ensure a smooth working relationship with your writer.
                    <br><br>
                    We believe in advance payment. Pay before you write for us once the deal is done. The payment will be done online via UPI transfer, direct account transfer or paytm transfer.
                    <br><br>

                  {% comment %} <div class="readmore_bt"><a href="#">Read More</a></div> {% endcomment %}
               </div>
            </div>

         </div>
      </div>
   </div>
 </div>
{% endblock body %}